

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/*--------------------*/
/*100vh / 5 = 20vh
2✖ = 40h
2x = 40vh
x = 20vh*/

body {
  background: fixed center / cover url('../assets/images/Background.png');
}

.card {
  min-height: 100vh;
  max-height: 65rem;
  min-width: 320px;
  max-width: 414px;
  margin: 0 auto;

  background-color: whitesmoke;

  @media (min-width: 412px) {
    min-height: 34rem;
    max-width: 440px;
    margin: 1vh auto;

    box-shadow: .5px .5px 15px gray;
    border-radius: 15px;
    overflow: hidden;
  }

  @media (min-width: 1200px) {
    margin: 5vh auto;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 20rem;
    
    background-color: blue;
    background-image: url('../assets/images/Pattern.png');
    
    @media (min-width: 412px) {
      min-height: 13rem;
    }
  }
    &__title {
      width: 65%;
      margin: 3rem auto;

      color: white;
      overflow-wrap: break-word;
      text-align: center;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.85rem;

      @media (min-width: 412px) {
        font-size: 1.6rem;
      }
    }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 1.3rem;
    min-height: 70vh;
    padding: 1.2rem .5rem;

    font-size: .95rem;

    @media (min-width: 412px) {
      min-height: auto;
      max-height: 30rem;

      font-size: .984rem;
      row-gap: 1.7rem;
      padding: 1.7rem .5rem;
    }
  }
    &__description {
      width: 90%;

      text-align: center;
    }

    &__subscription {
      width: 95%;
    }
      &__email-submit {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: .3rem;
        margin-bottom: .5rem;
      }
        &__input {
          margin: .2rem 0;
          padding: .6rem .8rem;
          flex: 2 1 auto;

          background-color: rgb(240, 234, 234);
          border: .5px solid rgb(118, 118, 118);
          border-radius: 3px;

          @media (min-width: 412px) {
            padding: .8rem .8rem;
          }
        }
        &__subscribe-btn {
          padding: .6rem 1.3rem;
          flex: 1 1 auto;

          color: white;
          background-color: blue;
          font-weight: 500;
          border-radius: 3px;

          @media (min-width: 412px) {
            padding: .8rem 1.3rem;
          }
        }
      &__label {
        font-size: .85rem;
        color: gray;
      }
  
    &__profile {
      display: flex;
      column-gap: .3rem;
      margin: 2rem auto 0 auto;

      @media (min-width: 412px) {
        margin-top: .6rem;
      }
    }
      &__avatar {}
      &__profile-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: .2rem;
      }
        &__profile-title {
          font-weight: 700;
        }
        &__profile-description {}

    &__review {
      text-align: center;
      color: rgb(29, 28, 28);

      @media (min-width: 412px) {
        width: 98%;
      }
    }
}
